{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/calculator.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Calculator
{% endblock %}






{% block body %}
    <div class="main-grid">
        <div class="calculator-div">
            <h1 class="calculator-title">Body Fat Calculator:</h1>

            <input type="number" id="calc_height" class="calc_height">
            
            <input type="number" id="calc_weight" class="calc_weight">

            <input type="number" id="calc_weight" class="calc_weight">

            <input type="number" id="calc_weight" class="calc_weight">

        </div>

        <div class="other-div">

        </div>

        <div class="result-div">

        </div>

        <div class="result2-div">

        </div>
    </div>

    <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}