{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/calculator.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Calculator
{% endblock %}






{% block body %}
    <div class="main-grid">
        <div class="calculator-div">
            <h1 class="calculator-title" id="calculator_title">Body Fat Calculator:</h1>

            <input type="number" id="calc_field1" class="calc_field1" placeholder="Enter number here">
            
            <input type="number" id="calc_field2" class="calc_field2" placeholder="Enter number here">

            <input type="number" id="calc_field3" class="calc_field3" placeholder="Enter number here">

            <input type="number" id="calc_field4" class="calc_field4" placeholder="Enter number here">

            <input type="number" id="calc_field5" class="calc_field5" placeholder="Enter number here">

            <input type="number" id="calc_field6" class="calc_field6" placeholder="Enter number here">


            <div class="MorFradio">
                <input type="radio" id="MorF1" name="MorF" class="female_radio">

                <label for="MorF1" class="female_radio_text">Female</label>

                <input type="radio" id="MorF2" name="MorF" class="male_radio">

                <label for="MorF2" class="male_radio_text">Male</label>
            </div>

            <input type="submit" id="submit" class="submit">
        </div>

        <div class="other-div">
            <h1 class="od-title">Other calculations:</h1>

            <a onclick="leanmasscalculation()" class="od-link">Lean body mass calculator</a>
            <a onclick="leanmasscalculation()" class="od-link">Body fat mass calculator</a>
            <a onclick="leanmasscalculation()" class="od-link">Power mass calculator</a>
        </div>

        <div class="result-div">
            <h1 class="results-title">Results: <i class="results-title2" id="results-title2">13.9% Body Fat</i></h1>
        
            <h1 class="results-description">For a man with a body fat percentage of 13.9%, this falls within the athletic range, which is typically between 6-13%. This percentage indicates a well-defined and lean physique, often seen in individuals who are physically active and maintain a balanced diet and regular exercise routine. With a body fat percentage at this level, the individual likely has good muscle definition, cardiovascular health, and overall fitness. It's a sign of a healthy, active lifestyle, which is important for long-term health and performance in physical activities.</h1>
        </div>

        <div class="result2-div">
            <h1 class="result2-title">Results: <i class="results2-title2" id="result2-title">13.9% Body Fat</i></h1>

            <h1 class="result2-type">Type: Athletes</h1>

            <h1 class="result2-ideal-body-fat">Ideal body fat: 8 - 18%</h1>

            <img src="{% static 'pics/bodyfat.png' %}" class="bodyfat-pic">
        </div>
    </div>

    <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}