{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/calculator.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Calculator
{% endblock %}






{% block body %}
    <div class="main-grid">
        <div class="calculator-div">
            <h1 class="calculator-title">Body Fat Calculator:</h1>

            <input type="number" id="calc_field1" class="calc_field1" placeholder="Enter number here">
            
            <input type="number" id="calc_field2" class="calc_field2" placeholder="Enter number here">

            <input type="number" id="calc_field3" class="calc_field3" placeholder="Enter number here">

            <input type="number" id="calc_field4" class="calc_field4" placeholder="Enter number here">

            <input type="number" id="calc_field5" class="calc_field5" placeholder="Enter number here">

            <input type="number" id="calc_field6" class="calc_field6" placeholder="Enter number here">




            <select class="calc_field1_1">
                <option value="cm">Cm</option>
                <option value="inch">Inch</option>
            </select>

            <select class="calc_field2_2">
                <option value="cm">Kg</option>
                <option value="inch">Lb</option>
            </select>

            <select class="calc_field3_3">
                <option value="cm">Cm</option>
                <option value="inch">Inch</option>
            </select>

            <select class="calc_field4_4">
                <option value="cm">Cm</option>
                <option value="inch">Inch</option>
            </select>

            <select class="calc_field5_5">
                <option value="cm">Cm</option>
                <option value="inch">Inch</option>
            </select>

            <select class="calc_field6_6">
                <option value="cm">Cm</option>
                <option value="inch">Inch</option>
            </select>

            <input type="radio" id="MorF1" name="MorF" class="female_radio">

            <label for="MorF1" class="female_radio_text">Female</label>

            <input type="radio" id="MorF2" name="MorF" class="male_radio">

            <label for="MorF2" class="male_radio_text">Male</label>

        </div>

        <div class="other-div">

        </div>

        <div class="result-div">

        </div>

        <div class="result2-div">

        </div>
    </div>

    <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}