{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}

        <link href="{% static 'css/layout.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <nav class="navbar">
            <div class="title-div">
                <h1 class="title">WellnessHub</h1>
                <h1 class="title-2">powered by .xyz</h1>
            </div>

            <div class="navs-div">
                <h1 class="nav nav1">Dashboard</h1>
                <h1 class="nav nav2">Workouts</h1>
                <h1 class="nav nav3">Calculator</h1>
                <h1 class="nav nav4">Notes</h1>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>