{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}

        <link href="{% static 'css/layout.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>