{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}

        <link href="{% static 'css/layout.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        {% block body %}
        {% endblock %}

        <nav class="navbar">
            <div class="navboard" id="navboard">
                <div class="navs-div" id="navs-div">
                    <a href="{% url 'index' %}" style="text-decoration: none;"><h1 class="nav nav1" id="nav1">Dashboard</h1></a>
                    <a href="{% url 'workout' %}" style="text-decoration: none;"><h1 class="nav nav2" id="nav2">Workouts</h1></a>
                    <a href="{% url 'calculator' %}" style="text-decoration: none;"><h1 class="nav nav3" id="nav3">Calculator</h1></a>
                    <a href="{% url 'notes' %}" style="text-decoration: none;"><h1 class="nav nav4" id="nav4">Notes</h1></a>
                </div>
            </div>

            <div class="title-div">
                <h1 class="title">WellnessHub</h1>
                <h1 class="title-2">powered by .xyz</h1>
            </div>

            <div class="burger" id="burger">
                <span class="burger-span span1" id="span1"></span>
                <span class="burger-span span2" id="span2"></span>
                <span class="burger-span span3" id="span3"></span>
            </div>
        </nav>

        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>