{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/notes.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Notes
{% endblock %}






{% block body %}
    <div class="notes-div">
        <h1 class="notes-title">Notes:</h1>

        <button class="notes-new">New Note</button>

        <hr class="notes-line">

        <div class="note">
            <h1 class="note-title">Note Title</h1>
            <h1 class="note-date">2024/3/17 2:50PM</h1>
            <button class="note-button1">Delete Note</button>
            <button class="note-button2">Read Note</button>
        </div>
    </div>

    <script src="{% static 'js/notes.js' %}"></script>
{% endblock %}