{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/notes.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Notes
{% endblock %}






{% block body %}
    <div class="notes-div">
        <h1 class="notes-title">Notes:</h1>

        <button class="notes-new">New Note</button>

        <hr class="notes-line">

        <div class="notes-saved">
            
        </div>
    </div>

    <script src="{% static 'js/notes.js' %}"></script>
{% endblock %}