{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/workouts.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Workouts
{% endblock %}






{% block body %}
    <div class="workout-div">
        <div class="muscle-select">

        </div>

        <div class="settings-select">
            <h1 class="ss-tilte">Find workouts:</h1>

            <div class="ss-div">
                <input type="number" class="ss-input" placeholder="Height:">

                <select class="ss-input-1">
                    <option value="">Cm</option>
                    <option value="">Inch</option>
                </select>

                <input type="number" class="ss-input2" placeholder="Weight:">

                <select class="ss-input2-1">
                    <option value="">Cm</option>
                    <option value="">Inch</option>
                </select>

                <input type="number" class="ss-input3" placeholder="Age:">

                <div class="MorFradio">
                    <input type="radio" id="MorF1" name="MorF" class="female_radio">

                    <label for="MorF1" class="female_radio_text">Female</label>
    
                    <input type="radio" id="MorF2" name="MorF" class="male_radio">
    
                    <label for="MorF2" class="male_radio_text">Male</label>
                </div>

                <input type="submit" name="submit" id="submit" class="submit">
            </div>
        </div>
    </div>

    <div class="results-div">
        <div class="result">
            <div class="result-video"></div>

            <div class="result-text">
                <h1 class="workout-name">Name of the workout</h1>
                <h1 class="workout-parts">Body parts: Back, lats, lower lats and shoulders.</h1>
                <h1 class="workout-description">Body parts: Back, lats, lower lats and shoulders.  lower lats and shoulders.  lower lats and shoulders.  lower lats and shoulders.  lower lats and shoulders.  lower lats and shoulders. </h1>
            </div>
        </div>
    </div>

    <script src="{% static 'js/workouts.js' %}"></script>
{% endblock %}