{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/workouts.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Workouts
{% endblock %}






{% block body %}
    <div class="workout-div">
        <div class="muscle-select">

        </div>

        <div class="settings-select">
            <h1 class="ss-tilte">Find workouts:</h1>

            <div class="ss-div">
                <input type="number" class="ss-input" placeholder="Height:">

                <select class="ss-input-1">
                    <option value="">Cm</option>
                    <option value="">Inch</option>
                </select>

                <input type="number" class="ss-input2" placeholder="Weight:">

                <select class="ss-input2-1">
                    <option value="">Cm</option>
                    <option value="">Inch</option>
                </select>

                <input type="number" class="ss-input3" placeholder="Age:">

                <div class="MorFradio">
                    <input type="radio" name="MorF1" id="MorF" class="female_radio">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/workouts.js' %}"></script>
{% endblock %}