{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <link href="{% static 'css/workouts.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Workouts
{% endblock %}






{% block body %}
    <div class="workout-div">
        <div class="muscle-select">

        </div>

        <div class="settings-select">
            <h1 class="ss-tilte">Find workouts:</h1>

            <div class="ss-div">
                <input type="number" name="" id="">
            </div>
        </div>
    </div>

    <script src="{% static 'js/workouts.js' %}"></script>
{% endblock %}