.main-grid {
    position: relative;
    display: grid;
    top: 140px;
    left: 0px;
    height: max-content;
    width: 100%;
    grid-template-columns: 60px calc(100vw - 450px) 30px 300px 60px;
}

.calculator-div {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 2;
    grid-column-end: 3;

    grid-template-rows: 20px calc((100% - 60px) / 5) 5px calc((100% - 60px) / 5) 5px calc((100% - 60px) / 5) 5px calc((100% - 60px) / 5) 5px calc((100% - 60px) / 5) 20px;
    grid-template-columns: 20px calc((100% - 55px) /2) 15px calc((100% - 55px) /2) 20px;
}

.calculator-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 9;
    display: inline-grid;
    grid-row: 2;
}

.calc_field1 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 2;
    grid-row: 4;
    grid-column-end: 3;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.calc_field2 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 2;
    grid-row: 6;
    grid-column-end: 3;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.calc_field3 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 2;
    grid-row: 8;
    grid-column-end: 3;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.calc_field4 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 2;
    grid-row: 10;
    grid-column-end: 3;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.calc_field5 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 4;
    grid-row: 4;
    grid-column-end: 5;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.calc_field6 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    grid-column-start: 4;
    grid-row: 6;
    grid-column-end: 5;
    display: inline-grid;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: 2.5px solid #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
}

.MorFradio {
    position: relative;
    top: 0;
    left: 0;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 8;
}

.female_radio {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: #777777 solid 2px;
}

.male_radio {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: #777777 solid 2px;
}

.female_radio_text {
    position: relative;
    top: -5px;
    left: 0;
    width: max-content;
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
}

.male_radio_text {
    position: relative;
    top: -5px;
    left: 0;
    width: max-content;
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
}

.submit {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C1D8C3;
    color: #777777;
    border: none;
    outline: none;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 10;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.other-div {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 260px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 4;
    grid-column-end: 5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.od-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
}

.od-link {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.result-div {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 210px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.results-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: black;
}

.results-title2 {
    color: #27AE35;
}

.results-description {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Itim";
}

.result2-div {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 210px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 4;
    grid-column-end: 5;
    margin-top: 20px;
    padding: 20px;
}

.result2-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    font-family: "Itim";
    font-size: 22px;
    font-weight: bold;
}

.results2-title2 {
    color: #27AE35;
}

.result2-type {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
}

.result2-ideal-body-fat {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
}

.bodyfat-pic {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: max-content;
}

@media screen and (max-width: 910px) {
    .main-grid {
        grid-template-columns: 60px calc(100vw - 120px) 60px;
    }

    .result2-div {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 0;
    }

    .other-div {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 20px;
        grid-row: 4;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 580px) {
    .calculator-div {
        grid-template-columns: 17.5px calc(100% - 90px) 5px 50px 17.5px;
        grid-template-rows: none;
        height: max-content;
        padding-bottom: 20px;
    }

    .calc_field5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 11;
    }

    .calc_field6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 13;
    }

    .calc_field5_5 {
        grid-row: 11;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .calc_field6_6 {
        grid-row: 13;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .MorFradio {
        grid-row: 15;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .submit {
        grid-row: 17;
        grid-column-start: 2;
        grid-column-end: 5;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .calculator-title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 420px) {
    .main-grid {
        grid-template-columns: 20px calc(100vw - 40px) 20px;
    }
}

@media screen and (max-width: 320px) {
    .main-grid {
        grid-template-columns: 10px calc(100vw - 20px) 10px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  