.body {
    background-color: #FFF5E4;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 80px);
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2DAA9E;
}

.title-div {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    display: inline-block;
}

.title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    font-family: "Marcellus";
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.title-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    font-family: "Marcellus";
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.navs-div {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: max-content;
    height: max-content;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Marcellus";
    color: white;
}

.burger {
    display: none;
}

.navboard {
    display: block;
}

@media screen and (max-width: 720px) {
    .nav {
        display: none;
    }

    .burger {
        position: absolute;
        top: 60%;
        right: 40px;
        transform: translateY(-60%);
        width: max-content;
        height: max-content;
        display: block;
    }

    .burger-span {
        position: relative;
        top: 0;
        left: 0;
        width: 60px;
        height: 10px;
        margin-bottom: 4px;
        background-color: black;
        display: block;
    }

    /*
    .span1 {
        position: relative;
        top: 13px;
        right: 40px;
        transform: none;
        rotate: 45deg;
    }

    .span3 {
        position: relative;
        top: -13px;
        right: 40px;
        transform: none;
        rotate: -45deg;
    } */

    .navboard {
        position: fixed;
        top: 0;
        left: -100%;
        width: 65vw;
        height: 100vh;
        background-color: #2DAA9E;
        display: block;
    }

    .navs-div {
        left: 40px;
    }

    .nav {
        display: block;
        font-size: 30px;
    }
}

@media screen and (max-width: 360px) {
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100vw - 40px);
    }

    .title {
        font-size: 24px;
    }

    .title-2 {
        font-size: 12px;
    }
    
    .burger {
        right: 20px;
    }
}

@keyframes span1_open {
    0% {}

    100% {
        top: 13px;
        rotate: 45deg;
        transform: none;
    }
}

@keyframes span2_open {
    0% {}

    100% {
        opacity: 0;
    }
}

@keyframes span3_open {
    0% {}

    100% {
        top: -13px;
        rotate: -45deg;
        transform: none;
    }
}

@keyframes span1_close {
    0% {}

    100% {
        top: 0px;
        rotate: 0deg;
        transform: none;
    }
}

@keyframes span2_close {
    0% {}

    100% {
        opacity: 1;
    }
}

@keyframes span3_close {
    0% {}

    100% {
        top: 0px;
        rotate: 0deg;
        transform: none;
    }
}

@keyframes navboard_open {
    0% {}

    100% {
        left: 0%;
    }
}

@keyframes navboard_close {
    0% {}

    100% {
        left: -100%;
    }
}