.notes-div {
    position: relative;
    top: 0;
    left: 60px;
    width: calc(100% - 160px);
    height: max-content;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    margin-top: 140px;
}

.notes-title {
    position: relative;
    top: 0px;
    left: 0px;
    width: max-content;
    height: max-content;
    font-family: "Itim";
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.notes-new {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #78F583;
    color: white;
    font-family: "Itim";
    font-size: 18px;
    font-weight: bold;
}

.notes-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

