.workout-div {
    position: relative;
    top: 140px;
    left: 60px;
    width: calc(100% - 120px);
    height: max-content;
    display: grid;
    grid-template-columns: calc(65% - 10px) 20px calc(35% - 10px);
}

.muscle-select {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

.settings-select {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}

.ss-tilte {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
}

.ss-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: calc(100% - 100px) 20px 80px;
    padding: 0;
    margin: 0;
}

.ss-input {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: 2.5px solid #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 5px;
}

.ss-input-1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 2.5px solid #D9D9D9;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 5px;
}


.ss-input2 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: 2.5px solid #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    margin-top: 5px;
}

.ss-input2-1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 2.5px solid #D9D9D9;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    margin-top: 5px;
}

.ss-input3 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 23px);
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 2.5px solid #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    margin-top: 5px;
}

.MorFradio {
    position: relative;
    top: 0;
    left: 0;
    width: 140%;
    height: max-content;
    grid-row: 4;
    margin-top: 5px;
}

.female_radio {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: #777777 solid 2px;
}

.female_radio_text {
    position: relative;
    top: -5px;
    left: 0;
    width: max-content;
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
}

.male_radio {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: #777777 solid 2px;
}

.male_radio_text {
    position: relative;
    top: -5px;
    left: 0;
    width: max-content;
    height: max-content;
    font-family: "Itim";
    font-size: 15px;
    font-weight: bold;
}

.submit {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C1D8C3;
    color: #777777;
    border: none;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 10;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.results-div {
    position: relative;
    top: 170px;
    left: 60px;
    width: calc(100% - 120px);
    height: max-content;
}

.result {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: max-content;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.201);
    display: grid;
    grid-template-columns: calc(50% - 10px) 20px calc(50% - 10px);
    margin-bottom: 20px;
}

.result-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #777777;
    grid-column-start: 1;
    grid-column-end: 2;
}

.result-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    grid-column-start: 3;
    grid-column-end: 4;
}

.workout-name {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.workout-parts {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.workout-description {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 861px) {
    .workout-div {
        grid-template-columns: 100%;
    }

    .muscle-select {
        grid-column-start: 1;
        grid-row: 1;
    }

    .settings-select {
        grid-column-start: 1;
        grid-row: 2;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .workout-div {
        left: 30px;
        width: calc(100% - 60px);
    }
    
    .results-div {
        left: 30px;
        width: calc(100% - 60px);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  